site_name: RFI - Verksamhetssystemet för HVOF
site_description: Request for Information för Hälsa, Vård och Omsorgsförvaltningens verksamhetssystem
site_author: HVOF IT
site_url: https://malmostad.github.io/Verksamhetssystem-RFI/

repo_name: Verksamhetssystem-RFI
repo_url: https://github.com/malmostad/Verksamhetssystem-RFI
edit_uri: edit/main/docs/

theme:
  name: material
  logo: images/Malmostad_logo2025_vertical_neg_RGB.png
  favicon: images/malmo-stad-logo-colour.png
  palette:
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.annotate
    - content.code.copy
  icon:
    repo: fontawesome/brands/github
  custom_dir: docs/overrides

extra_css:
  - stylesheets/malmo-stad-colors.css

extra_javascript:
  - javascripts/mermaid.mjs

plugins:
  - search
  - markmap
  - encryptcontent:
      global_password: !ENV [ENCRYPTCONTENT_PASSWORD, 'set-this-env-var']




markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: docs
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html

nav:
  - Hem: index.md
  - Verksamhet & organisation:
    - Översikt & statistik: organisation/organisation.md
    - Verksamhetsbeskrivning och vision: organisation/verksamhetsbeskrivning.md
    - Lagkrav vård och omsorg: organisation/lagkrav-vard-omsorg.md
  - RFI-material:
    - Översikt: rfi-material/rfi-overview.md
    - Utmaningar: rfi-material/utmaningar.md
    - Behov: rfi-material/behov-och-fragor.md
    - Frågor: rfi-material/fragor.md
  - System:
    - Systemkontext: system/systemkontext.md
    - IT-miljö: system/it-miljo.md
    - Systemkarta: system/system-landscape.md
    - Nuvarande verksamhetssystem (Lifecare/Procapita): arkitektur/lifecare-procapita.md
  - Referens:
    - Ordlista: overview/glossary.md
    - Arkitekturprinciper: overview/architecture-principles.md

extra: {}
